@using Microsoft.AspNetCore.Identity

@inject SignInManager<Utenti> SignInManager
@inject UserManager<Utenti> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-link" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto ml-md-0">

        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">
                Register
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">
                Login
            </a>
        </li>
    </ul>
}
