@using Ecommerce.Models

@{
    ViewData["Title"] = "Home Page";
}



<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-arrow-alt-circle-down"></i>
        Home/Index Page
    </div>
    <div class="card-body">
        <p>
            Empty
        </p>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>