@page
@model Ecommerce.Areas.Identity.Pages.Account.ConfirmEmailModel

@{
    Layout = null;
    ViewBag.Title = "Confirm Email";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"]</title>
    <!-- Bootstrap core CSS-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">@ViewBag.Title</div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h4>Thank you for confirming your email.</h4>
                        <p>
                            Please confirm your email. Click here <button type="submit" class="btn-link alert-link">Confirm</button>
                            <br />
                            @Html.ActionLink("Click here to Log in", "/Login", "", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
